name: Commitlint

on:
  pull_request:

jobs:
  commitlint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - run: npm install
        working-directory: ./frontend

      - name: Validate PR commits
        working-directory: ./frontend
        run: npx commitlint --from=origin/${{ github.base_ref }} --to=HEAD --config ../commitlint.config.js